<td  width="600" align="center" ><a target="_blank" href="http://www.facebook.com/MiuMiu" ><img src="http://static.contactlab.it/prada/social/icona_facebook.jpg" border="0" style="display:inline; margin: auto;" ></a>
<a target="_blank" href="https://twitter.com/MIUMIUofficial" ><img src="http://static.contactlab.it/prada/social/icona_twitter.jpg"  border="0" style="display: inline; margin: auto;"></a>
<a target="_blank" href="http://instagram.com/miumiu" ><img src="http://static.contactlab.it/prada/social/icona_instagram.jpg"  border="0" style="display: inline; margin: auto;"></a>
<a target="_blank" href="http://www.youtube.com/miumiu" ><img src="http://static.contactlab.it/prada/social/icona_youtube.jpg"  border="0" style="display: inline; margin: auto;"></a></td>